{% extends 'header.html'%}

{% block head %}


<title>Insurance Predictor</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">


        <form action="/predict" method="post">
            <legend>Insurance Expenses Prediction</legend>
            <div class="mb-3">
                <label class="form-label">Age</label>
                <input class="form-control" type="number" name="age" placeholder="Enter your Age"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Gender</label>
                <select class="form-control" name="sex" placeholder="Enter you Gender"
                    required>
                    <option value="male">
                        Male
                    </option>
                    <option value="female">
                        Female
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">BMI</label>
                <input class="form-control" type="number" name="bmi"
                    placeholder="Enter your BMI" />
            </div>            
            <div class="mb-3">
                <label class="form-label">Children</label>
                <input class="form-control" type="number" name="children"
                    placeholder="Enter Number of Children" />
            </div>
            <div class="mb-3">
                <label class="form-label">Smoker</label>
                <select class="form-control" name="smoker" placeholder="Are you Smoker?"
                    required>
                    <option value="yes">
                        Yes
                    </option>
                    <option value="no">
                        No
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Region</label>
                <select class="form-control" name="region" placeholder="Which of the following region you belong?"
                    required>

                    <option value="southwest">
                        South West
                    </option>
                    <option value="northwest">
                        North West
                    </option>
                    <option value="southeast">
                        South East
                    </option>
                    <option value="northeast">
                        North East
                    </option>
                </select>
            </div>
            <div class="mb-3">

                <input class="btn btn-primary" type="submit" value="Predict you Insurance Coverage" required />
            </div>

        </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              Hospital Expenses
            </div>
            <div class="card-body">
        {% if context['insurance_data'] is not none %}
        <table class="table table-striped">
            <caption>Insurance Prediction </caption>
            <tr>
                <th>Input Feature</th>
                <th>Feature Value</th>

            </tr>
            {% for column,value in context['insurance_data'].items() %}



            <tr>
                <td>{{column}}</td>
                <td>{{value[0]}}</td>
            </tr>

            {% endfor %}
            <tr>

                <td>Predicted Insurance Premium </td>
                <td>
                    {{ context['insurance_value'] }}
                </td>
            </tr>
        </table>

        {% else %}
       
              <h5 class="card-title">Submit Form</h5>
              <p class="card-text">Kindly provide necessary information to estimate Hospital Expenses for Insurance Coverage</p>
            
         

        {% endif %}
        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>
    </div>

    {% endblock %}